body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width:50%;
    text-align: center;
    padding-top: 50px;
    margin : auto;
}

a {
    text-decoration: underline;
    transition: color 0.3s;
    border: color(lawngreen);
    border: 10px solid;
}

p{
    font-family: Arial, sans-serif;
}